/// COMMON

::-webkit-scrollbar {
  width: 16px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEW9vb3///8EwsWUAAAADElEQVQI12NoYHAAAAHEAMFJRSpJAAAAAElFTkSuQmCC");
  background-repeat: repeat;
  // Bar
  &-thumb {
    width: 16px;
    background-color: #c0c0c0;
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1px 1px 0 white inset, -1px -1px 0 #707070 inset;
  }
}

::selection {
  background-color: #000080;
  color: #fff;
}

html {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

body {
  background-color: #2d5993;
  color: #fff;
}

p { margin-bottom: 1rem; }

a {
  color: #c7ede6;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: #e74c3c;
    text-decoration: none;
  }
}

ul {
  list-style: disc;
  line-height: 1.6;
  margin: 0 0 1rem 2rem;
  & > li > & {
    list-style: circle;
  }
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}

/// HEADINGS

@for $i from 1 through 4 {
  h#{$i} {
    margin: 0;
    margin-bottom: 0.5rem;
  }
}

h1 { font-size: 2rem; }
h2 { font-size: 1.33rem; }
h3 { font-size: 1.15rem; }
h4 { font-size: 1rem; }

/// WARNING

blockquote {
  max-width: 75%;
  margin-bottom: 1rem;
  font-size: 0.825rem;
  color: #000;
  background-color: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  box-shadow: 1px 1px 0 0 #000;
  h3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 2px 2px 0 2px;
    padding: 1px 2px;
    text-transform: uppercase;
    font-size: 1em;
    color: #fff;
    background: linear-gradient(to right, #0a246a, #a6caf0);
    img {
      max-width: 16px;
      margin-right: 0.15em;
    }
  }
  p {
    padding: 0 0.825em;
    &:first-of-type {
      padding-top: 0.66rem;
    }
  }
  a {
    color: currentColor;
    text-decoration: underline;
    &:active {
      color: currentColor;
      text-decoration: none;
    }
  }
}

@media (max-width: 991px) {
  blockquote {
    max-width: 100%;
  };
}

/// HEADER

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  text-align: center;
  img {
    margin-bottom: 1rem;
  }
}

/// FOOTER

hr {
  box-sizing: content-box;
  overflow: visible;
  margin: 1rem 0 1rem 0;
  height: 0;
  border: 0;
  border-top: 1px solid #bfbfbf;
}

footer {
  font-size: 0.9rem;
  text-align: center;
  margin: 1rem 0;
}
